/* .login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.hellodumbullar{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 50px auto;
} */


